/* this is a css comment */

body {
  background-color:lightpink;
  font-family: helvetica, verdana, sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
  color: saddlebrown;
  text-transform:uppercase;
}

img{
  width:50%;
}

p {
  font-size: 22px;
  line-height: 24px;

}
