@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  /* font-family: 'Poppins', sans-serif; */
}

nav {
  font-family: 'Poppins', sans-serif;
  background-color: #f2a7cd; /* pink */
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  height: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a:link {
  border: 1px solid white;
  padding: 10px 25px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-left: 0.5em;
  margin-right: 1em;
  font-weight:bold;
}

nav a:visited {
  color: #fff;
}

nav a:hover {
  border: 1px solid #666;
  color: #333; /* grey */
}

nav a:active {
  color: #333;
}

section.header_lrg {
  background-color: #f2a7cd; /* pink */
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header_lrg header {
  /* border: 1px solid red; */
  color: #fff;
  text-align: left;
  margin: 3em;
}

.header_lrg h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 5em;
	line-height: 1.5em;
	text-transform: uppercase;
	color:#ff3333;
	font-weight: bold;
}

.header_lrg h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 2em;
	text-transform: capitalize;
  color: #fcf1de;
	font-weight: normal;
}

section transition_img {
  background-color: #f2a7cd; /* pink */
  width: 100%;
  /* height: auto;
  min-height: 15px; */
  margin-top:10px;
  display: flex;
  justify-content:flex-end;
  align-items:flex-end;
}

.transition_img figure {
  border: 1px solid red;
  /* width: 100%;
  height: auto; */
  position: absolute;
  z-index: 0;
}

section.text1 {
  background-color: #b26a3d;
  width: 100%;
  display: flex;
}











/* header {
  padding: 20px;
   background-color: #222;
  color: #fff;
  line-height: 70px;
  text-align: center;
} */

/* specificity */

header h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 62px;
  text-transform: uppercase;
  font-weight: normal;
}

header h2 {
  font-family: 'Kanit', sans-serif;
  color: #ffe9e5; /* light pink */
  text-transform: capitalize;
  font-weight: normal;
}

/* nav {
  background-color: #222;
  text-transform: capitalize;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  height: 65px;
} */

/* nav a:link {
  padding: 20px 40px;
  display: inline-block;
  color: #222;
  text-decoration: none;
  margin-left: 6px;
  margin-right: 6px;
}

nav a:visited {
  color: #222;
}

nav a:hover {
  background-color: #ffe9e5;
  border-bottom: 8px solid #666;
  color: #333;

nav a:active {
  background-color: #ffe9e5;
  color: #333;
} */

article {
  padding: 70px;
}

article h1 {
  font-size: 36px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 20px;
}

article h2 {
  font-size: 28px;
  color: #fff;
  text-transform: capitalize;
  margin-top: 50px;
  margin-bottom: 5px;
}

article p {
  /* default is 16px */
  font-size: 18px;
  /* space between each line */
  line-height: 24px;
  /* space between each paragraph */
  margin-bottom: 20px;
  color: #CDE1DE;
}

footer {
  background-color: #111;
  padding: 20px;
  color: #fff;
  font-family: georgia, times, serif;
  font-style: italic;
  font-size: 14px;
}

/* classes start with a . and can be used multiple times */
.pull_quote {
  background-color: #666;
  padding:20px 20px;
  font-family: georgia, times, serif;
  font-style: italic;
  font-size: 28px;
  line-height: 36px;
  margin: 0 100px 20px;
  border-left: 25px solid #CDE1DE;
}
